body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Button used to open the chat form - fixed at the bottom of the page */

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 5px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  border-radius: 50%;
  width: 60px;
}

/* The popup chat - hidden by default */

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 5px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 80px;
}

/* When the textarea gets focus, do something */

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */

.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 48%;
  border-radius: 0%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */

.form-container .cancel {
  background-color: red;
}

.open-button .icon-online-support {
  height: 50px !important;
  width: 50px !important;
}

/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.chat-popup .form-container .real-time-chat {
  height: 150px;
}
#message-container {
  padding: 10px;
  overflow-y: scroll;
}
